
<h1> Dictionary Data structures and Control Structures </h1>

## Learning agenda of this notebook
* **Motivation to use Dictionary**
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements of a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Sorting Dictionary values
8. Aliasing vs Shallow Copy vs Deep Copy

### Motivation to use Dictionary
Let's solve a problem to see benefits of dictionary.  
How you can get marks of a specific student by using both lists students and name.

In [2]:
students = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen']
marks = [81, 52, 70, 74, 78]
# add
# phone

In [4]:
def get_marks(name):
    index = students.index(name)
    return marks[index]
get_marks('Ali')

52

### 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

<img align="center" width="900" height="900"  src="images/dict_main.png" >

In [5]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'Ehtisham':51, 
    'Ali':52, 
    'Dua':22,
}

In [6]:
print(dict1)
print(type(dict1))
print(id(dict1))

{'Ehtisham': 51, 'Ali': 52, 'Dua': 22}
<class 'dict'>
4634073664

In [7]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

{'name': 'ali', 1: 10, 'abc': 25, 33: 'xyz'}

### 2. Proof of concepts
#### a. Dictionary allows Duplicate Values

In [8]:
# Duplicate values are allowed
d1 = {
    'name1' : 'ali',
     'name2' : 'ali'
     }
d1

{'name1': 'ali', 'name2': 'ali'}

#### b. Dictionary DOESNOT allows Duplicate Keys

In [9]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = { 
     'name' : 'ali',
     'name' : 'ehtisham',
     'name' : 'AYESHA'
     }
d1

{'name': 'AYESHA'}

#### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type `(number, string, tuple)`

In [10]:
# Tuple being immutable can be used as a key
d1 = {
        'ali':'name', 
      (60, 78, 83): 'marks' 
     }
d1

{'ali': 'name', (60, 78, 83): 'marks'}

In [11]:
# List being mutable cannot be used as a key
d1 = {
      'ali':'name', 
      [60, 78, 83]:'marks' 
     }
d1

TypeError: unhashable type: 'list'

#### d. Values inside Dictionaies can be of mutable/immutable data type

In [12]:
# List being mutable can be used as a value
d1 = {
     'name':'Ali', 
      'marks':[60,78,83] 
     }
d1

{'name': 'Ali', 'marks': [60, 78, 83]}

In [13]:
# Tuple being immutable can also be used as a value
d1 = {
    'name':'ali', 
      'marks': (60,78,83) 
     }
d1

{'name': 'ali', 'marks': (60, 78, 83)}

#### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [14]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

{'name': 'ali', 1: 10, 'abc': 25, 33: 'xyz'}

#### f. Dictionaries can be nested to arbitrary depth

In [15]:
# Creating a Nested Dictionary
dict7 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
dict7

{'name': 'ehtisham',
 'status': 'ML Engineer',
 'address': {'house#': 35,
  'area': 'Pak Villas Housing Society',
  'city': 'Okara'},
 'phone': '03460000000'}

### 3. Accessing Elements of a Dictionary
#### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [ ]:
# List[5], str[4:10]

In [16]:
d1 = {
    'name':'Ehisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [17]:
d1['address']

'Pak Villas'

In [18]:
d1.get('marks')

[60, 75, 80]

In [19]:
d1['add'] # error

KeyError: 'add'

In [21]:
d1.get('mark', None)

**To retrieve a value from a nested dictionary**

In [22]:
# mat1 = # list 4th row 5th value

In [23]:
d2 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 
                   'area' : 'Pak Villas Housing Society', 
                   'city' : 'Okara'},
         'phone': '03460000000'
        }
d2

{'name': 'ehtisham',
 'status': 'ML Engineer',
 'address': {'house#': 35,
  'area': 'Pak Villas Housing Society',
  'city': 'Okara'},
 'phone': '03460000000'}

In [24]:
d2['address']

{'house#': 35, 'area': 'Pak Villas Housing Society', 'city': 'Okara'}

In [26]:
d2['address']['city']

'Okara'

In [27]:
d2.get('address').get('city')

'Okara'

In [29]:
# d2['city']

#### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [30]:
# Creating a Nested Dictionary
d1 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
 
d1

{'name': 'ehtisham',
 'status': 'ML Engineer',
 'address': {'house#': 35,
  'area': 'Pak Villas Housing Society',
  'city': 'Okara'},
 'phone': '03460000000'}

In [31]:
l1 = d1.items()
l1

#  list -> [], tuple -> ()

dict_items([('name', 'ehtisham'), ('status', 'ML Engineer'), ('address', {'house#': 35, 'area': 'Pak Villas Housing Society', 'city': 'Okara'}), ('phone', '03460000000')])

#### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

#### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [32]:
d1.keys()

dict_keys(['name', 'status', 'address', 'phone'])

In [33]:
d1.values()

dict_values(['ehtisham', 'ML Engineer', {'house#': 35, 'area': 'Pak Villas Housing Society', 'city': 'Okara'}, '03460000000'])

### 4. Adding/Modifying Elements of a Dictionary
#### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [34]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehtisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [35]:
d1['address']

'Pak Villas'

In [36]:
# Modify value corresponding to an existing key
d1['address'] = 'Township'
d1

{'name': 'Ehtisham', 'age': 22, 'address': 'Township', 'marks': [60, 75, 80]}

In [37]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

{'name': 'Ehtisham',
 'age': 22,
 'address': 'Township',
 'marks': [60, 75, 80],
 'key1': 'value1'}

#### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [38]:
# Create a simple dictionary
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ali', 'age': 20, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [39]:
# Modify value corresponding to an existing key
d1.update({'name':'Ehtisham Sadiq'})
d1

{'name': 'Ehtisham Sadiq',
 'age': 20,
 'address': 'Pak Villas',
 'marks': [60, 75, 80]}

**You can use the `dict.update()` method to merge two dictionaries**

In [40]:
d1 = {
    'name':'Ehtisham Sadiq', 
    'age':22, 
}

d2 = {
    'address':'Pak Villas', 
    'marks':[60, 75, 80],
    'age':21
}

In [41]:
d1.update(d2)
d1

{'name': 'Ehtisham Sadiq',
 'age': 21,
 'address': 'Pak Villas',
 'marks': [60, 75, 80]}

### 5. Removing Elements from a Dictionary
#### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [45]:
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ali', 'age': 20, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [46]:
del d1['age']
d1

{'name': 'Ali', 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [44]:
# this will delete the whole directory
del d1
print(d1)  # will generate an error now

NameError: name 'd1' is not defined

#### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned
- Raises KeyError if the dict is empty

In [47]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehtisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [48]:
d1.popitem()

('marks', [60, 75, 80])

#### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value only of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [49]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

{'name': 'Ehtisham', 'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [50]:
d1.pop('name')

'Ehtisham'

In [51]:
d1

{'age': 22, 'address': 'Pak Villas', 'marks': [60, 75, 80]}

In [52]:
d1.pop('nok?ey') #This will raise an error

KeyError: 'nok?ey'

#### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [1]:
# Try it by yourself

### 6. Dictionary, Tuple and List conversions

In [53]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Ehtisham Sadiq', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 5.7, 
    'Profession': 'ML Engineer'
}
d1

{'Name': 'Ehtisham Sadiq',
 'Sex': 'Male',
 'Age': 23,
 'Height': 5.7,
 'Profession': 'ML Engineer'}

In [54]:
# The items() method, returns an object of dict_items containing two value tuples
rv = d1.items()

In [55]:
print(rv)
print("\n", type(rv))

dict_items([('Name', 'Ehtisham Sadiq'), ('Sex', 'Male'), ('Age', 23), ('Height', 5.7), ('Profession', 'ML Engineer')])

 <class 'dict_items'>

In [56]:
# You can convert dictionary key-value pairs into a tuple containing two valued tuples
t1 = tuple(d1.items())
print(t1)
print("\n", type(t1))

(('Name', 'Ehtisham Sadiq'), ('Sex', 'Male'), ('Age', 23), ('Height', 5.7), ('Profession', 'ML Engineer'))

 <class 'tuple'>

In [57]:
#converting dictionary keys only into a tuple
t1 = tuple(d1.keys())
print(t1)
print("\n", type(t1))

('Name', 'Sex', 'Age', 'Height', 'Profession')

 <class 'tuple'>

In [58]:
#converting dictionary values only into a list
mylist = list(d1.values())
print("\n", mylist)
print(type(mylist))

 ['Ehtisham Sadiq', 'Male', 23, 5.7, 'ML Engineer']
<class 'list'>

### 7. Sorting a Dictionary by Values
- We can use the built-in function `sorted(iterable)` to get a sorted copy of a dictionary (by value). 
- The `sorted(iterable)` returns a sorted version of the iterable, without making any change to the iterable. 
- It's syntax is quite similar to `list.sort()` method, however, the iterator to be sorted needs to be passed as a required parameteras shown below:
```
    sorted(iterable, key=None, reverse=False)
```
- By default the `reverse` argument is `False`, you override the default behavior by passing a `True` value to this argument to perform a descending sort
- A custom key function can also be supplied to customize the sort order.

**Consider the following dictionary having `names` as keys and `marks` as values**

In [59]:
dict1 = {
        'Ehtisham Sadiq': 81, 
        'Ayesha Sadiq':90, 
        'Ali Sadiq':76, 
        'Dua Sadiq':73,
        'Khubaib Sadiq':93,
        'Adeen Sadiq': 88
        }
dict1

{'Ehtisham Sadiq': 81,
 'Ayesha Sadiq': 90,
 'Ali Sadiq': 76,
 'Dua Sadiq': 73,
 'Khubaib Sadiq': 93,
 'Adeen Sadiq': 88}

In [60]:
sorted(dict1)

['Adeen Sadiq',
 'Ali Sadiq',
 'Ayesha Sadiq',
 'Dua Sadiq',
 'Ehtisham Sadiq',
 'Khubaib Sadiq']

In [61]:
sorted(dict1, reverse=True)

['Khubaib Sadiq',
 'Ehtisham Sadiq',
 'Dua Sadiq',
 'Ayesha Sadiq',
 'Ali Sadiq',
 'Adeen Sadiq']

**When you pass a dictionary object to the `sorted()` function, it will return the list of sorted dictionary keys**

In [63]:
sorted(dict1.keys())

['Adeen Sadiq',
 'Ali Sadiq',
 'Ayesha Sadiq',
 'Dua Sadiq',
 'Ehtisham Sadiq',
 'Khubaib Sadiq']

**Similarly you can pass the values only to the `sorted()` function, and it will return the list of sorted values**

In [64]:
d2 = sorted(dict1.values())
d2

[73, 76, 81, 88, 90, 93]

**Let us do customized sorting with Python Dictionaries**

**Example 1: Suppose we have a dictionary containing student names along with their marks and we want to sort the dictionary by highest marks of the students first**

In [65]:
dict1 = {
        'Ehtisham Sadiq': 81, 
        'Ayesha Sadiq':90, 
        'Ali Sadiq':76, 
        'Dua Sadiq':73,
        'Khubaib Sadiq':93,
        'Adeen Sadiq': 88
        }
dict1

{'Ehtisham Sadiq': 81,
 'Ayesha Sadiq': 90,
 'Ali Sadiq': 76,
 'Dua Sadiq': 73,
 'Khubaib Sadiq': 93,
 'Adeen Sadiq': 88}

In [76]:
ls = list(dict1.items())
type(ls)

list

In [77]:
print(ls)

[('Ehtisham Sadiq', 81), ('Ayesha Sadiq', 90), ('Ali Sadiq', 76), ('Dua Sadiq', 73), ('Khubaib Sadiq', 93), ('Adeen Sadiq', 88)]

In [80]:
ls[0][0], ls[0][1]

('Ehtisham Sadiq', 81)

In [67]:
for i in ls:
    print(type(i))
    print(i)
    print("\n")

<class 'tuple'>
('Ehtisham Sadiq', 81)


<class 'tuple'>
('Ayesha Sadiq', 90)


<class 'tuple'>
('Ali Sadiq', 76)


<class 'tuple'>
('Dua Sadiq', 73)


<class 'tuple'>
('Khubaib Sadiq', 93)


<class 'tuple'>
('Adeen Sadiq', 88)

In [82]:
for i in ls:
    print(i[1])

81
90
76
73
93
88

In [85]:
# dict1.items()
for m in dict1.items():
    print(m, m[1])

('Ehtisham Sadiq', 81) 81
('Ayesha Sadiq', 90) 90
('Ali Sadiq', 76) 76
('Dua Sadiq', 73) 73
('Khubaib Sadiq', 93) 93
('Adeen Sadiq', 88) 88

**Answer**

In [87]:
# Function receives a key:value tuple (key, value) and returns the value
def func1(item):
    return item[1]

In [88]:
mylist = sorted(dict1.items(), key = func1, reverse=True)

In [89]:
mylist

[('Khubaib Sadiq', 93),
 ('Ayesha Sadiq', 90),
 ('Adeen Sadiq', 88),
 ('Ehtisham Sadiq', 81),
 ('Ali Sadiq', 76),
 ('Dua Sadiq', 73)]

Note the `sorted()` function returned a list object in which each element is a two valued tuple having (key,value) pairs. You can always typecast such lists to a dictionary object

In [90]:
sorted_dict = dict(mylist)
print(sorted_dict)

{'Khubaib Sadiq': 93, 'Ayesha Sadiq': 90, 'Adeen Sadiq': 88, 'Ehtisham Sadiq': 81, 'Ali Sadiq': 76, 'Dua Sadiq': 73}

In [91]:
type(sorted_dict)

dict

**Example 2: Suppose we have a JSON array containing name, age and grades of students. We want to sort it by the age of the students.**
- JSON stands for JavaScript Object Notation
- JSON is a text format for storing and transporting data
- A JSON string has comma separated `key:value` pairs

In [92]:
# The following JSON array defines a student object with 3 properties: `name`, `age`, and `grade`
# It is actually a list containing dictionary objects each object containing three key:value pairs
students = [
         {"name": "Ehtisham Sadiq", "age": 23, "grade": "B"},
         {"name": "Ali Sadiq", "age": 20, "grade": "A"},
         {"name": "Ayesha Sadiq", "age": 17, "grade": "C"},
         {"name": "Dua Sadiq", "age": 7, "grade": "D"},
         {"name": "Adeen Sadiq", "age": 3, "grade": "A"},
         {"name": "Khubaib Sadiq", "age": 5, "grade": "B"}
        ]
students

[{'name': 'Ehtisham Sadiq', 'age': 23, 'grade': 'B'},
 {'name': 'Ali Sadiq', 'age': 20, 'grade': 'A'},
 {'name': 'Ayesha Sadiq', 'age': 17, 'grade': 'C'},
 {'name': 'Dua Sadiq', 'age': 7, 'grade': 'D'},
 {'name': 'Adeen Sadiq', 'age': 3, 'grade': 'A'},
 {'name': 'Khubaib Sadiq', 'age': 5, 'grade': 'B'}]

In [93]:
for i in students:
    print(i)
    print(i.get('age'))
    print(i.get('grade'))
    print("\n")

{'name': 'Ehtisham Sadiq', 'age': 23, 'grade': 'B'}
23
B


{'name': 'Ali Sadiq', 'age': 20, 'grade': 'A'}
20
A


{'name': 'Ayesha Sadiq', 'age': 17, 'grade': 'C'}
17
C


{'name': 'Dua Sadiq', 'age': 7, 'grade': 'D'}
7
D


{'name': 'Adeen Sadiq', 'age': 3, 'grade': 'A'}
3
A


{'name': 'Khubaib Sadiq', 'age': 5, 'grade': 'B'}
5
B

In [94]:
# Function receives a dictionary object and returns the value corresponding to key age in that dictionary
def func2(item):
     return item.get('age') #return item['age']

In [95]:
sorted_students = sorted(students, key = func2, reverse=False)

sorted_students

[{'name': 'Adeen Sadiq', 'age': 3, 'grade': 'A'},
 {'name': 'Khubaib Sadiq', 'age': 5, 'grade': 'B'},
 {'name': 'Dua Sadiq', 'age': 7, 'grade': 'D'},
 {'name': 'Ayesha Sadiq', 'age': 17, 'grade': 'C'},
 {'name': 'Ali Sadiq', 'age': 20, 'grade': 'A'},
 {'name': 'Ehtisham Sadiq', 'age': 23, 'grade': 'B'}]

Note the `sorted()` function returned a list object in which each element is a dictionary object having three key:value pairs

### 8. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

In [4]:
# Do it by yourself

![](images/dict_operations.jpg)

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. Can a dictionary have two keys with the same value? Two values with the same key?
7. Define a dictionary that maps month name abbreviations to month names.
8. Define a dictionary with five entries that maps student identification numbers to 
their full names.
9. What is the `.get` method of a dictionary used for?
10. How do you change the value associated with a key in a dictionary?
11. How do you add or remove a key-value pair in a dictionary?
12. How do you access the keys, values, and key-value pairs within a dictionary?
13. Describe/Differentiate the concept of aliasing, shallow copy and deep copy using assignment statement, `dict.copy()`, `copy.copy()` and `copy.deepcopy()` methods
14. Practice sorting dictionaries having different types of `key:value` combinations
15. Create and initialize a dictionary that maps the English words `one` through `five` to the numbers 1 through 5.
16. Which part of a dictionary element must be immutable?
17. What is the difference between the dictionary methods pop and popitem?
18.  What does the items method return?
19.  What does the keys method return?
20.  What does the values method return?

In [ ]:
mylist = sorted(dict1.items(), key = func1, reverse=True)

print(mylist)

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)