<h1 align="center">Practical Learning Data Science and Machine Learning - Assignment 04</h1>

Write your answers based on your understanding. After completing this assignment, submit this notebook on Google Classroom. Mention your username in the following format: **Assignment # 04 (Your Name)**.

## Question 01:
Look at the following statement: 

numbers = [10, 20, 30, 40, 50]

- How many elements does the list have?
- What is the index of the first element in the list?
- What is the index of the last element in the list?

In [3]:
# Here write your answer

## Question 02:
Look at the following statement:    

numbers = [1, 2, 3]

- What value is stored in numbers[2]?
- What value is stored in numbers[0]?
- What value is stored in numbers[-1]?

In [4]:
# Here write your answer

## Question 03:

Assume the lists `numbers1` has 100 elements and `numbers2` is an empty list. Write
code that copies the values in numbers1 to numbers2.

In [6]:
# Here write your answer

numbers1 = list(range(1,101))
numbers2 = []

## Question 04:

### Number Analysis Program

Design a program that asks the user to enter a `series of 5 numbers`. The program should
store the numbers in a list and then display the following data:

- The lowest number in the list
- The highest number in the list
- The total of the numbers in the list
- The average of the numbers in the list

In [7]:
# Here write your answer

## Question 05:

How do you perform the following tasks with lists in Python

- Test that two lists contain the same elements in the same order.
- Copy one list to another. 
- Fill a list with zeroes, overwriting all elements in it.
- Remove all elements from a list.

In [8]:
# part no 01

In [9]:
# part no 02

In [10]:
# part no 03

In [11]:
# part no 04

## Question 06:

Write a program that initializes a list with ten random integers and then prints four lines of output, each containing:

- Every element at an even index.
- Every even element.
- All elements in reverse order.
- Only the first and last elements.

In [12]:
# Here write your answer

## Question 07:
Write a function `removeMin` that removes the minimum value from a list without using the `min` function or `remove` method.

In [13]:
# 1st Method
# Here write your answer

In [14]:
# 2nd Method using for loop and if statement

## Question 08:

One acre of land is equivalent to `43,560` square feet. Write a program that asks the user 
to enter the total square feet in a tract of land, and then calculates and display the number of acres in the tract.


$$ \mathbf{Number of Acres = \frac{Total\ Square\ Feet}{43,560}}$$

In [15]:
# Here write your answer

## Question 09:


There are three seating categories at a stadium. For a softball game, `Class A` seats cost 
$ \$15$, `Class  B`  seats  cost $ \$12 $, and `Class C` seats cost $ \$9$. Write a program that asks how many  tickets for each class of seats were sold, and then displays the amount of income 
generated from ticket sales.
.

In [17]:
# Here write your answer

## Question 10:
Write a program in which create a list of 10 random integers and find the product of all elements of a list.

**First Method:**
Using Functions and Loops

**Second Method :**

- Firstly, we will get a List of 10 random integers using `random` module
- Then we use functions and loops to find product of all the numbers of the list.

## Question 11:

Given the set definitions below, answer the following questions:    

set1 = { 1, 2, 3, 4, 5 }   
set2 = { 2, 4, 6, 8 }    
set3 = { 1, 5, 9, 13, 17 }


- Is set1 a subset of set2?
- Is the intersection of set1 and set3 empty?
- What is the result of performing set union on set1 and set2?
- What is the result of performing set intersection on set2 and set3?
- What is the result of performing set intersection on all three sets?
- What is the result of performing the set difference on set1 and set2 (set1 â€“ set2)?
- What is the result of the instruction set1.discard(5)? 
- What is the result of the instruction set2.discard(5)?

In [230]:
# Here write your answer
set1 = {1,2,3,4,5}
set2 = {2,4,6,8}
set3 = {1,5,9,13,17}

In [18]:
# part no 01

# part no 02

# part no 03

# part no 04:

# part no 05

# part no 06

# part no 07

# part no 08

## Question 12:

Given three sets, `set1`, `set2`, and `set3`, write Python statement(s) to perform the following actions: 

- Create a new set of all elements that are in set1 or set2, but not both.
- Create a new set of all elements that are in only one of the three sets set1, set2, and set3.
- Create a new set of all elements that are in exactly two of the sets set1, set2, and set3.
- Create a new set of all integer elements in the range 1 through 25 that are not in set1.
- Create a new set of all integer elements in the range 1 through 25 that are not in any of the three sets set1, set2, or set3.
- Create a new set of all integer elements in the range 1 through 25 that are not in all three sets set1, set2, and set3.

Here you can also manully add elements in the sets by using loops.     
But in this case, use `random` module to generate all sets

In [19]:
# Here write your answer
#     part no 01
  
#     part no 02
 
#     part no 03

#     part no 04

#     part no 05

#     part no 06

## Question 13:

Write a program that prompts the user to enter `two strings` and then prints the following:

- The characters that are common to both strings.
- The characters that appear in one string but not the other.
- The characters that do not appear in either string.

You can achieve this by utilizing the `set` function to convert a string into a set of characters.



**Test Case:**

Imagine two strings:

- String A: "hello"
- String B: "world"

The expected outputs would be:

- Common characters: "o"
- Unique characters in String A: "hel"
- Unique characters in String B: "wrld"

**First Method:**

Using built-in set functions

In [ ]:
# Here write your code

**Second Method :**

Using Loops and if statement

In [20]:
# Here write your code

## Question 14:


### Rainfall Statistics

Develop a program that allows the user to input the total rainfall for each of the 12 months into a list. The program should then compute and present the following information:

- Total rainfall for the entire year.
- Average monthly rainfall.
- Months with the highest and lowest amounts of rainfall.


**Test Case:**

Imagine the following monthly rainfall data (in inches):

- January: 2
- February: 3
- March: 4
- April: 2
- May: 1
- June: 5
- July: 6
- August: 4
- September: 3
- October: 2
- November: 1
- December: 2

**Expected Results:**
- Total annual rainfall: 35 inches
- Average monthly rainfall: 2.92 inches
- Highest rainfall month: July
- Lowest rainfall month: May

In [21]:
# Here write your answer

## Question 15:

Given the tuple `T1 = (1, 23, 4, 5, "A", ["C", "D"], (23, 45), 45)`:

- a. Determine the total number of elements in the given tuple.
- b. Find the index of a specific given element.
- c. Find the occurrence count of a specific given element.
- d. Print the characters "CC" using elements from the tuple.
- e. Display the first 5 elements of the tuple.
- f. Display the last 5 elements of the tuple.
- g. Demonstrate how to obtain the output `(45, ['C', 'D'], 5)` from the given tuple.
- h. Concatenate the elements of the tuples present at index 4 and 5.
- i. Apply the `max()` function on the given tuple and note the output.

In [22]:
# part no 01

# part no 02

# part no 03

# part no 04

# part no 05

# part no 06

# part no 07

# part no 08

# part no 09